:root {
--very-dark-blue: hsl(235, 21%, 11%);
--very-dark-desaturated-blue: hsl(235, 24%, 19%);
--light-grayish-blue: hsl(234, 39%, 85%);
--dark-grayish-blue: hsl(234, 11%, 52%);
--very-dark-grayish-blue: hsl(233, 14%, 35%);
--very-dark-grayish: hsl(237, 14%, 26%);

}